h2{
    margin: 15px;
    text-align: center;
    color: aliceblue;
}
body{
    color: aliceblue;
}

img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.rating{
    height: 15px;
    width: 20px;
    margin-left:10px ;
}
span{
    color: aliceblue;
    margin-left:10px ;
    margin-right: 15px;
}
.mainDiv{
    margin-left: 50px;
}

.search-box{
    display:flex; 
    margin-left:60px;
    padding: 20px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #a61e4d;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 5px;
}